html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body, 
h1, 
h2 {
	margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

input {
  outline: 0;
}

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 25px;
}

.section {
  padding: 80px 0 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border: none;
  border-radius: 10px;
  transition: background 0.2s linear;
}

.button:hover {
  background: #09444e;
}

.title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

/* font-family: 'Aleo', serif;
font-family: 'Magra', sans-serif;
font-family: 'Red Hat Text', sans-serif; */


/* header */
.header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #FFFFFF;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.header__container {
  display: flex;
	align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__logo-name {
  margin-left: 6px;
  font-family: 'Magra', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38.88px;
}

.header__button {
  width: 103px;
  height: 41px;
}

.header__leftside {
  display: flex;
  align-items: center;
}

/* navbar */
.header__navbar {
  margin: 0 62px 0 34px;
}

.navbar__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
}

.navbar__item {
  float: left;
  margin: 0 21px;
}

.navbar__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  transition: color .2s linear;
}

.navbar__link:hover {
  color: #0D606F;
}

/* Nav toggle */
.navbar__link--burger {
  display: none;
}

.nav-toggle {
	display: none;
	width: 30px;
	padding: 10px 0;

	font-size: 0;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 43px;
	right: 20px;
	z-index: 1;
}

.nav-toggle:focus {
	outline: 0;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background: #fff;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}

.nav-toggle__item:before, .nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;

	background: #fff;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translateY(-2px);
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translateY(3px);
}


/* login popup */
.popup-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1001;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  transform: translate(-50%, -50%);
  z-index: 1002;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.popup-login {
  width: 650px;
  height: 660px;
  z-index: 1003;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 45px;
  width: 100%;
  height: 100%;

  color: #0D606F;
  font-family: 'Aleo', serif;
}

.popup__title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.popup__button {
  margin-bottom: 20px;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #FFFFFF;

  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.popup__fb {
  background: #1877F2;
  transition: background 0.2s linear;
} 

.popup__fb:hover {
  background: #1359b5;
}

.popup__google {
  background: #FFFFFF;
  color: #0D606F;
  transition: background 0.2s linear;
}

.popup__google:hover {
  background: #fffecc;
}

.popup__button img {
  padding-right: 15px;
}

.popup__line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.popup__hr {
  width: 100%;
  height: 0px;

  border: 1px solid rgba(13, 96, 111, 0.5);
}

.popup__or {
  margin: 0 9px; 
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: rgba(13, 96, 111, 0.5);
}

.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.popup__label {
  margin-bottom: 5px;
}

.popup__input {
  padding-left: 20px;
  margin-bottom: 22px;
  width: 100%;
  height: 54px;
  color: #0D606F;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border: none;
  border-radius: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.popup__submit {
  font-style: normal;
  font-weight: 400;
  background: #0D606F;
  transition: background 0.2s linear;
}

.popup__submit:hover {
  background: #09444e;
}

.popup__ques {
  margin-top: -10px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  text-decoration-line: underline;

  color: #0D606F;

  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.popup__remark {
  margin-top: 20px;
}

/* sign up pop up */
.popup-signup {
  display: none;
  width: 650px;
  height: 436px;
  z-index: 1004;
  
}

/* section preview */
.preview {
  display: flex;
  align-items: center;
  font-family: 'Aleo', serif;
  width: 100%;
  height: auto;
  min-height: 765px;
  position: relative;
  background: url(../assets/preview-bg.jpg) center top no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.preview__container {
  position: absolute;
  top: 122px;
  left: 120px;
}

.preview__content {
  display: flex;
  flex-direction: column;
  width: 892px;
  height: 422px;
}

.preview__title {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.preview__description {
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  padding: 34px 0 43px;
  margin: 0;
  letter-spacing: 0.5px;
}

.preview__search-container {
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search__field,
.search__field::placeholder {
  margin-left: 41px;
  width: 560px;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  background: transparent;
  color: #F2785C;
  border: none;
}

.search__button {
  margin-right: 18px;
  width: 228px;
  height: 59px;

  font-size: 24px;
  line-height: 32px;
}

/* section steps */

.steps__list {
  margin: 40px 0 17px;
  display: flex;
  justify-content: space-between;
}

.steps__icon {
  display: block;
  margin: 0 auto;
}

.steps__description {
  margin-top: 30px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #0D606F;
}

/* section destinations */

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinations__item {
  position: relative;
  margin: 0 30px;
}

.destinations__photo {
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

.destinations__name {
  position: absolute;
  left: calc(50% - 108px/2 - 331px);
  top: calc(50% - 42px/2 + 339px);

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #FFFFFF;
}

.destinations__button {
  width: 228px;
  height: 59px;

  font-size: 24px;
  line-height: 32px;
}

.destinations__button-arrow {
  margin-right: 10px;
}

/* slider slick */
.slider--mobile {
  display: none;
}

.slider-nav {
  position: relative;
  margin-top: 46px;
}



/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  /* overflow: hidden; */
}
/* Лента слайдов */
.slick-track{

}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 2000;
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
ul.slick-dots {
  padding-inline-start: 0px;
  margin-block-start: 24px;
  margin-block-end: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
}
/* Активная точка */
.slick-dots li.slick-active button{
  background: #F2785C;
}
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}


/* section stories */
.stories {
  margin-top: 40px;
  font-family: 'Aleo', serif;
  width: 100%;
  height: auto;
  min-height: 1331px;
  position: relative;
  background: url(../assets/stories.jpg) center no-repeat;
  background-size: cover;
}

.stories__bgc {
  height: 1270px;
  background-color: rgba(255, 255, 255, 0.7);
}

.stories__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories__item {
  padding-top: 30px;
  display: flex;
  width: 100%;

}

.stories__photo {
  margin-right: 40px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.stories__photo--mobile {
  display: none;
}

.stories__text {
  color: #0D606F;
}

.stories__title {
  margin-bottom: 24px;
  font-size: 35px;
  line-height: 42px;
}

.stories__description {
  font-size: 20px;
  line-height: 24px;
}

.stories__read-more {
  font-weight: 700;
  font-style: bold;
  text-decoration-line: underline;
  color: #0D606F;
}

#see-more {
  margin-top: 40px;
}

/* footer */
.footer__container {
  display: flex;
  justify-content: flex-end;
}

.footer__inner {
  margin-right: 0;
  width: 729px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

@media (max-width: 1100px) {

.section {
  padding: 40px 0 0;
}

/* header */

.header {
  height: auto;
}

.header__container {
  height: auto;
  padding: 0 10px;
}

.header__logo-name {
  font-size: 20px;
  line-height: 25px;
}

/* navbar */
.header__navbar {
  margin: 0;
}

.navbar__item {
  margin: 0 10px;
}

/* section preview */
.preview {
  min-height: 520px;
  justify-content: center;

}

.preview__container {
  position: static;
}

.preview__content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 300px;
}

.preview__title {
  font-size: 40px;
  line-height: 48px;
}

.preview__search-container {
  width: 100%;
  max-width: 892px;
  height: 95px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search__field,
.search__field::placeholder {
  margin-left: 20px;
  font-size: 18px;
  line-height: 20px;
}

.search__button {
  margin-right: 10px;

  font-size: 16px;
  line-height: 20px;
}

/* section steps */

.steps__list {
  margin: 20px 0 10px;
}

.steps__item {
margin: 0 10px;
}

.steps__description {
  margin-top: 15px;
  text-align: center;
}

/* section stories */
.stories__bgc {
  height: auto;
}

.stories__item {
  flex-direction: column;
}

.stories__photo {
  margin-right: 0;
  margin-bottom: 20px;
}

.stories__title {
  text-align: center;
}

#see-more {
  margin: 20px 0;
}

}


@media (max-width: 800px) {


.section {
  padding: 20px 0 0;
}

.title {
  font-size: 14px;
  line-height: 19px;
}

  /* header */
.header {
  height: auto;
  background: none;
  box-shadow: none;
}

.header__logo-name {
  display: none;
}

.header__button {
  display: none;
}

.header__container {
  padding: 43px 16px 0;
}

	/* Nav */
.header__navbar {
  display: none;
  width: 165px;

  position: absolute;
  top: 0;
  right: 0;
  background: #F2785C;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;

}

.header__navbar.active {
  display: block;
}

.navbar__list {
  flex-direction: column;
  margin-top: 80px;
}

.navbar__link {
  margin-top: 10px;
}

.navbar__link--burger {
  display: block;
}

.nav-toggle {
  display: block;
}



/* section preview */

.preview__title {
  display: none;
}

.preview__description {
  display: none;
}

.preview__container {
  position: absolute;
  top: 66%;
  left: auto;
}
.preview__content {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  max-height: 48px;
}

.preview__search-container {
  width: 360px;
  height: 48px;
}

.search__field, .search__field::placeholder {
  width: 226px;
  margin-left: 17px;
  font-size: 14px;
  line-height: 17px;
}

.button {
  width: 92px;
  height: 30px;

  font-size: 11px;
  line-height: 15px;
}

/* section steps */

.steps__list {
  margin: 20px 0 0;
}

.steps__icon {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.steps__description {
  margin-top: 20px;
  font-size: 10px;
  line-height: 12px;
}

/* section destinations */

.slider-nav {
  margin-top: 20px;
}

.slider--desktop {
  display: none;
}

.slider--mobile {
  display: block;
}

.destinations__item {
  margin: 0 15px;
}

.destinations__photo--mobile {
  border-radius: 16px;
}
.destinations__button-arrow {
  width: 10px;
  height: 10px;
}

/* Элемент точки */
.slick-dots li button {
  margin: 0 3px;
  width: 8px;
  height: 12px;
}

.slider-nav--mobile {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul.slick-dots {
  position: absolute;
  top: 71%;
  left: 49.83%;
  z-index: 10;
}

}

@media (max-width: 500px) {

.preview {
  align-items: end;
  width: 100%;
  height: auto;
  min-height: 251px;
  background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url(../assets/mobile/preview-bg.jpg) center top no-repeat;
  background-size: cover;
}

.preview__container {
  top: 59%;
}

.preview__content {
  max-width: 300px;
  max-height: 48px;
}

.preview__search-container {
  width: 300px;
  height: 48px;
}

.search__field, .search__field::placeholder {
  width: 190px;
  margin-left: 17px;
  font-size: 14px;
  line-height: 17px;
}

/* section stories */

.stories {
  margin-top: 10px;
  min-height: 693px;
  background: url(../assets/mobile/stories-bg.jpg) center no-repeat;
  background-size: cover;
}

.stories__item {
  flex-direction: row;
}
.stories__photo {
  display: none;
}

.stories__photo--mobile {
  display: block;
  margin-right: 10px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.stories__title {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
}

.stories__description {
  font-size: 9px;
  line-height: 11px;
}

.footer__inner {
  justify-content: center;
}
.footer__text {
  display: none;
}
}